<button
  type="button"
  class="
    text-gray-500
    group
    bg-white
    rounded-md
    inline-flex
    items-center
    text-base
    font-medium
    hover:text-gray-900
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500
  "
  aria-expanded="false"
>
  <span [textContent]="text"></span>
  <app-icon-chevron-left
    *ngIf="isMenuOpen"
    class="block ml-2"
  ></app-icon-chevron-left>

  <app-icon-chevron-down
    *ngIf="!isMenuOpen"
    class="block ml-2"
  ></app-icon-chevron-down>
</button>
