<div class="w-full py-6 px-9">
  <app-area-title [title]="'プレビューを見る'"></app-area-title>

  <div class="flex flex-wrap justify-center gap-6">
    <figure class="flex-row w-full">
      <figcaption class="text-gray-400">BEFORE</figcaption>
      <div
        #preEffectContainer
        class="flex justify-center p-2 overflow-auto border-2 border-gray-100"
      ></div>
      <ul *ngIf="preEffect" class="flex-row gap-2 mt-1 text-sm text-gray-300">
        <li [textContent]="filename"></li>
        <li class="flex gap-2">
          <span [textContent]="'width'"></span>
          <span [textContent]="preEffect.canvas.scale.width + 'px'"></span>
          <span [textContent]="'height'"></span>
          <span [textContent]="preEffect.canvas.scale.height + 'px'"></span>
        </li>
      </ul>
    </figure>

    <figure class="flex-row w-full">
      <figcaption class="text-gray-400">AFTER</figcaption>
      <div
        #postEffectContainer
        class="flex justify-center p-2 overflow-auto border-2 border-gray-100"
      >
        <app-icon-loading
          class="absolute text-gray-300"
          [size]="24"
        ></app-icon-loading>
      </div>
      <ul *ngIf="postEffect" class="flex-row gap-2 mt-1 text-sm text-gray-300">
        <li [textContent]="postEffect.effect!.filename.apply(filename)"></li>
        <li class="flex gap-2">
          <span [textContent]="'width'"></span>
          <span [textContent]="postEffect.canvas.scale.width + 'px'"></span>
          <span [textContent]="'height'"></span>
          <span [textContent]="postEffect.canvas.scale.height + 'px'"></span>
        </li>
      </ul>
    </figure>
  </div>
</div>
