<div
  class="
    absolute
    bottom-0
    flex
    items-start
    p-6
    w-full
    gap-6
    justify-center
    font-medium
  "
>
  <figure>
    <figcaption class="text-gray-300">PRE EFFECT</figcaption>
    <div #preEffect class="border-2 border-gray-100 p-2">
      <img src="assets/preview.png" class="opacity-25" />
    </div>
  </figure>

  <figure>
    <figcaption class="text-gray-300">POST EFFECT</figcaption>
    <div #postEffect class="border-2 border-gray-100 p-2">
      <app-icon-loading class="absolute text-gray-300"></app-icon-loading>
      <img src="assets/preview.png" class="opacity-25" />
    </div>
  </figure>
</div>
