<div class="py-6 px-9 w-full">
  <app-area-title [title]="'preview'"></app-area-title>

  <div class="flex flex-wrap justify-center gap-6">
    <figure class="flex-row w-full">
      <figcaption class="text-gray-400">BEFORE</figcaption>
      <div
        #preEffectContainer
        class="border-2 border-gray-100 p-2 flex justify-center"
      ></div>
      <ul *ngIf="preEffect" class="mt-1 flex-row gap-2 text-gray-300 text-sm">
        <li [textContent]="filename"></li>
        <li class="flex gap-2">
          <span [textContent]="'width'"></span>
          <span [textContent]="preEffect.canvas.scale.width + 'px'"></span>
          <span [textContent]="'height'"></span>
          <span [textContent]="preEffect.canvas.scale.height + 'px'"></span>
        </li>
      </ul>
    </figure>

    <figure class="flex-row w-full">
      <figcaption class="text-gray-400">AFTER</figcaption>
      <div
        #postEffectContainer
        class="border-2 border-gray-100 p-2 flex justify-center"
      >
        <app-icon-loading
          class="absolute text-gray-300"
          [size]="24"
        ></app-icon-loading>
      </div>
      <ul *ngIf="postEffect" class="mt-1 flex-row gap-2 text-gray-300 text-sm">
        <li [textContent]="postEffect.effect!.filename.apply(filename)"></li>
        <li class="flex gap-2">
          <span [textContent]="'width'"></span>
          <span [textContent]="postEffect.canvas.scale.width + 'px'"></span>
          <span [textContent]="'height'"></span>
          <span [textContent]="postEffect.canvas.scale.height + 'px'"></span>
        </li>
      </ul>
    </figure>
  </div>
</div>
