<div class="p-6 bg-white shadow-reverse-lg sticky z-20">
  <app-area-title [title]="'recycle url'"></app-area-title>

  <div
    class="flex justify-start hover:text-gray-900 gap-4"
    [class.text-gray-900]="copied"
    [class.text-gray-500]="!copied"
  >
    <div class="flow-root">
      <a
        class="
          cursor-pointer
          flex
          items-center
          rounded-md
          text-base
          font-medium
          focus:outline-none
        "
        [class.text-blue-700]="copied"
        (click)="handleClick()"
      >
        <app-icon-clipboard></app-icon-clipboard>
        <span *ngIf="!copied" class="ml-2 w-14">Copy</span>
        <span *ngIf="copied" class="ml-2 w-14">Copied</span>
      </a>
    </div>
    <span class="font-sm truncate" [textContent]="url"></span>
  </div>
</div>
