<div class="bg-white">
  <h3
    class="text-sm px-8 py-4 font-medium tracking-wide text-gray-500 uppercase"
  >
    RECYCLE URL
  </h3>
  <div
    class="
      flex
      justify-start
      space-y-6
      px-4
      pb-5
      sm:flex sm:space-y-0 sm:space-x-5 sm:px-6
      lg:px-8
      hover:text-gray-900
    "
    [class.text-gray-900]="copied"
    [class.text-gray-500]="!copied"
  >
    <div class="flow-root">
      <a
        href="#"
        class="
          -m-3
          p-3
          flex
          items-center
          rounded-md
          text-base
          font-medium
          focus:outline-none
        "
        [class.text-blue-700]="copied"
        (click)="handleClick()"
      >
        <app-icon-clipboard></app-icon-clipboard>
        <span *ngIf="!copied" class="ml-2 w-14">Copy</span>
        <span *ngIf="copied" class="ml-2 w-14">Copied</span>
      </a>
    </div>
    <span class="font-sm truncate" [textContent]="url"></span>
  </div>
</div>
