<app-area-title [title]="'ファイル名'"></app-area-title>

<ng-container *ngIf="effect">
  <app-form-header>
    <app-header-image [filename]="'filename'"></app-header-image>
  </app-form-header>

  <app-form-section>
    <app-form-label [label]="'先頭に挿入するテキスト'"></app-form-label>
    <app-form-content>
      <app-input-filename
        appFormLabelFor
        [error]="effect.getErrors().prefix"
        [placeholder]="'foo-'"
        [value]="effect.prefix"
        (changeValue)="handleChangePrefix($event)"
      ></app-input-filename>
    </app-form-content>
  </app-form-section>

  <app-form-section>
    <app-form-label [label]="'末尾に追加するテキスト'"></app-form-label>
    <app-form-content>
      <app-input-filename
        appFormLabelFor
        [error]="effect.getErrors().suffix"
        [placeholder]="'-bar'"
        [value]="effect.suffix"
        (changeValue)="handleChangeSuffix($event)"
      ></app-input-filename>
    </app-form-content>
  </app-form-section>

  <app-form-footer *ngIf="error">
    <app-form-error [error]="error"></app-form-error>
  </app-form-footer>
</ng-container>
