main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  width: 100v;
  height: 100vh;
  color: #9CA3AF;
}

figure {
  color: #9CA3AF;
  width: 50px;
  height: auto;
}

h1 {
  font-weight: 700;
  font-size: 1.2rem;
}
