<ng-container *ngIf="effect">
  <app-form-group-section>
    <app-form-label [label]="'type'"></app-form-label>
    <app-form-content>
      <app-input-radio
        class="block mr-4"
        *ngFor="let item of effect.typeList"
        [label]="item.label"
        [selection]="item.selection"
        [value]="effect.type"
        (changeValue)="handleChangeType($event)"
      >
        <app-thumbnail-shadow
          [type]="item.selection"
          [label]="item.label"
        ></app-thumbnail-shadow>
      </app-input-radio>
    </app-form-content>
  </app-form-group-section>

  <app-form-section *ngIf="effect.hasEffect()">
    <app-form-label [label]="'width'"></app-form-label>
    <app-form-content>
      <app-input-number
        appFormLabelFor
        [placeholder]="'1-10'"
        [value]="effect.blur"
        (changeValue)="handleChangeBlur($event)"
      ></app-input-number>
      <app-form-unit>px</app-form-unit>
    </app-form-content>
  </app-form-section>

  <app-form-section *ngIf="effect.hasEffect()">
    <app-form-label [label]="'offset'"></app-form-label>
    <app-form-content>
      <app-input-number
        appFormLabelFor
        [placeholder]="'1-10'"
        [value]="effect.offset"
        (changeValue)="handleChangeOffset($event)"
      ></app-input-number>
      <app-form-unit>px</app-form-unit>
    </app-form-content>
  </app-form-section>

  <app-form-footer>
    <app-outline-button
      [text]="'Reset shadow config'"
      (buttonClick)="handleReset()"
    ></app-outline-button>
  </app-form-footer>

  <app-form-footer *ngIf="error">
    <app-form-error [error]="error"></app-form-error>
  </app-form-footer>
</ng-container>
