<div
  ngx-dropzone
  class="dropzone-container"
  [accept]="'image/jpeg,image/jpg,image/png'"
  (change)="handleChange($event)"
>
  <ngx-dropzone-label>
    <span>ここにファイルをドラッグ＆ドロップしてください</span>

    <span
      class="block transition-opacity duration-500 text-sm pt-4"
      [class.opacity-0]="!rejected"
      >加工できないファイルがアップロードされました。ファイル形式を確認してください。</span
    >

    <span
      class="block transition-opacity duration-500 text-sm pt-4"
      [class.opacity-0]="!queue.size"
      >{{ queue.size }} ファイル 加工中です...</span
    >
  </ngx-dropzone-label>
</div>
