<div
  ngx-dropzone
  class="z-10 dropzone-container"
  [accept]="'image/jpeg,image/jpg,image/png'"
  (change)="handleChange($event)"
>
  <ngx-dropzone-label>
    <span>Click or Drop image here.</span>
    <span
      class="block transition-opacity duration-500"
      [class.opacity-0]="!queue.size"
      >{{ queue.size }} Files Processing...</span
    >
    <span
      class="block transition-opacity duration-500"
      [class.opacity-0]="!rejected"
      >{{ rejected }} Files Rejected</span
    >
  </ngx-dropzone-label>
</div>
