<div class="bg-gray-50 p-6 w-full h-full">
  <div class="p-3">
    <app-border-setting
      [class.hidden]="activeMenuType !== 'border'"
    ></app-border-setting>

    <app-shadow-setting
      [class.hidden]="activeMenuType !== 'shadow'"
    ></app-shadow-setting>

    <app-resize-setting
      [class.hidden]="activeMenuType !== 'resize'"
    ></app-resize-setting>

    <app-rotate-setting
      [class.hidden]="activeMenuType !== 'rotate'"
    ></app-rotate-setting>

    <app-filename-setting
      [class.hidden]="activeMenuType !== 'filename'"
    ></app-filename-setting>

    <app-text-setting
      [class.hidden]="activeMenuType !== 'text'"
    ></app-text-setting>
  </div>
</div>
