<div class="bg-gray-50 p-6 w-full h-full">
  <div class="p-3">
    <ng-container [ngSwitch]="activeMenuType">
      <app-border-setting *ngSwitchCase="'border'"></app-border-setting>
      <app-shadow-setting *ngSwitchCase="'shadow'"></app-shadow-setting>
      <app-resize-setting *ngSwitchCase="'resize'"></app-resize-setting>
      <app-rotate-setting *ngSwitchCase="'rotate'"></app-rotate-setting>
      <app-filename-setting *ngSwitchCase="'filename'"></app-filename-setting>
    </ng-container>
  </div>
</div>
