<div class="flex items-center gap-2">
  <input
    type="color"
    class="rounded-md focus:outline-none focus:ring-2"
    [class.ring-2]="error"
    [class.ring-red-300]="error"
    [class.focus:ring-red-500]="error"
    [class.focus:ring-blue-500]="!error"
    [(ngModel)]="color"
    (change)="handleChange()"
  />

  <button
    *ngIf="value"
    class="
      text-gray-400
      rounded-md
      focus:outline-none focus:ring-2
      ring-blue-500
    "
    (click)="handleClear()"
  >
    <app-icon-x class="w-4"></app-icon-x>
  </button>
</div>
