<app-splash
  *ngIf="isOpenSplash"
  [withCloseButton]="isReady"
  (clickClose)="handleClickSplashClose()"
></app-splash>

<nav>
  <app-navbar
    [class.hidden]="isOpenSplash"
    (clickMenu)="handleClickMenu()"
  ></app-navbar>
</nav>

<div class="flex w-full pt-16 bg-gray-200">
  <aside class="h-full p-6">
    <app-sidebar></app-sidebar>
  </aside>

  <main class="w-full">
    <app-uploader [class.hidden]="isOpenSetting"></app-uploader>
    <app-setting [class.hidden]="!isOpenSetting"></app-setting>
  </main>
</div>
