<ng-container *ngIf="effect">
  <app-form-header>
    <app-outline-button
      [text]="'Clear text setting'"
      (buttonClick)="handleReset()"
    ></app-outline-button>
  </app-form-header>

  <app-form-group-section>
    <app-form-content>
      <app-input-radio
        class="block mr-4"
        *ngFor="let item of effect.typeList"
        [item]="item"
        [name]="effect.name"
        [current]="effect.type!"
        (changeValue)="handleChangeType($event)"
      >
      </app-input-radio>
    </app-form-content>
  </app-form-group-section>

  <app-form-section *ngIf="effect.requiredWidth">
    <app-form-label [label]="'width'" [required]="true"></app-form-label>
    <app-form-content>
      <app-input-number
        appFormLabelFor
        [error]="effect.getErrors().width"
        [placeholder]="'1-10'"
        [value]="effect.width"
        (changeValue)="handleChangeWidth($event)"
      ></app-input-number>
      <app-form-unit>px</app-form-unit>
    </app-form-content>
  </app-form-section>

  <app-form-section *ngIf="effect.requiredColor">
    <app-form-label [label]="'color'" [required]="true"></app-form-label>
    <app-form-content>
      <app-input-color
        appFormLabelFor
        [error]="effect.getErrors().color"
        [value]="effect.color"
        (changeValue)="handleChangeColor($event)"
      ></app-input-color>
    </app-form-content>
  </app-form-section>

  <app-form-footer *ngIf="error">
    <app-form-error [error]="error"></app-form-error>
  </app-form-footer>
</ng-container>
