<ng-container *ngIf="effect">
  <app-form-section>
    <app-form-label [label]="'width'"></app-form-label>
    <app-form-content>
      <app-input-number
        appFormLabelFor
        [placeholder]="'1-10'"
        [value]="effect.width"
        (changeValue)="handleChangeWidth($event)"
      ></app-input-number>
      <app-form-unit>px</app-form-unit>
    </app-form-content>
  </app-form-section>

  <app-form-section>
    <app-form-label [label]="'color'"></app-form-label>
    <app-form-content>
      <app-input-color
        appFormLabelFor
        [value]="effect.color"
        (changeValue)="handleChangeColor($event)"
      ></app-input-color>
    </app-form-content>
  </app-form-section>

  <app-form-group-section>
    <app-form-label [label]="'type'"></app-form-label>
    <app-form-content>
      <app-input-radio
        *ngFor="let item of effect.typeList"
        [label]="item.label"
        [selection]="item.selection"
        [value]="effect.type"
        (changeValue)="handleChangeType($event)"
      >
        <app-thumbnail-border
          [type]="item.selection"
          [label]="item.label"
        ></app-thumbnail-border>
      </app-input-radio>
    </app-form-content>
  </app-form-group-section>
</ng-container>
