<div class="h-screen flex bg-white">
  <app-navbar-effects
    [activeMenuType]="activeMenuType"
    (selectMenu)="handleSelectMenu($event)"
  ></app-navbar-effects>

  <div class="h-full py-6 bg-gray-50 px-9">
    <app-border-setting
      [class.hidden]="activeMenuType !== 'border'"
    ></app-border-setting>

    <app-shadow-setting
      [class.hidden]="activeMenuType !== 'shadow'"
    ></app-shadow-setting>

    <app-resize-setting
      [class.hidden]="activeMenuType !== 'resize'"
    ></app-resize-setting>

    <app-rotate-setting
      [class.hidden]="activeMenuType !== 'rotate'"
    ></app-rotate-setting>

    <app-filename-setting
      [class.hidden]="activeMenuType !== 'filename'"
    ></app-filename-setting>

    <app-text-setting
      [class.hidden]="activeMenuType !== 'text'"
    ></app-text-setting>

    <div class="h-24"></div>
  </div>

  <app-preview class="block"></app-preview>
</div>

<div
  class="fixed bottom-0 z-20 w-full px-6 pt-3 pb-6 bg-white shadow-reverse-lg"
>
  <app-navbar-footer></app-navbar-footer>
</div>
