<div class="flex flex-col justify-between">
  <div class="bg-white w-full fixed h-16 top-0 px-6 pt-3 shadow-md z-20">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-6 text-gray-500">
        <app-logo></app-logo>

        <app-navbar-button
          [text]="'settings'"
          (click)="handleMenuButtonClick()"
        ></app-navbar-button>
      </div>

      <div class="flex items-center gap-6">
        <app-navbar-link
          [text]="'help'"
          [url]="'assets/help.mp4'"
        ></app-navbar-link>

        <app-navbar-link
          [text]="'gitHub'"
          [url]="'https://github.com/ringtail003/sunagitsune'"
        ></app-navbar-link>
      </div>
    </div>
  </div>
</div>
