<div class="flex flex-col justify-between">
  <div class="fixed top-0 z-20 w-full h-16 px-6 pt-3 bg-white shadow-md">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-3 text-gray-500">
        <app-logo></app-logo>

        <app-navbar-router-link
          [url]="''"
          [text]="'トップページ'"
          [abbr]="'トップ'"
        ></app-navbar-router-link>

        <app-navbar-router-link
          [url]="'setting'"
          [text]="'設定の編集'"
          [abbr]="'設定'"
        ></app-navbar-router-link>

        <app-navbar-router-link
          [url]="'description'"
          [text]="'アプリについて'"
          [abbr]="'アプリ'"
        ></app-navbar-router-link>
      </div>

      <div class="flex items-center gap-6">
        <app-dropdown [label]="'Twitterでシェア'">
          <app-dropdown-trigger>
            <app-icon-twitter
              class="w-8 text-gray-700 cursor-pointer hover:text-gray-900"
            ></app-icon-twitter>
          </app-dropdown-trigger>
          <app-dropdown-content>
            <div *ngTemplateOutlet="dropDownContentTwitter"></div>
          </app-dropdown-content>
        </app-dropdown>

        <app-dropdown [label]="'GitHubについて'">
          <app-dropdown-trigger>
            <app-icon-github
              class="w-8 text-gray-700 cursor-pointer hover:text-gray-900"
            ></app-icon-github>
          </app-dropdown-trigger>
          <app-dropdown-content>
            <div *ngTemplateOutlet="dropDownContentGitHub"></div>
          </app-dropdown-content>
        </app-dropdown>
      </div>
    </div>
  </div>
</div>

<ng-template #dropDownContentTwitter>
  <div class="flex-row space-y-4">
    <p>アプリを気に入っていただけたらシェアしてください。</p>
    <p class="text-center">
      <a
        href="https://twitter.com/intent/tweet?text=無料で使える画像加工Webアプリです🦊&hashtags=sunagitsune&url=https://sunagitsune.vercel.app/"
        target="_blank"
        rel="nofollow noopener noreferrer"
        class="
          text-gray-300
          underline
          hover:text-blue-400
          focus:ring-blue-400 focus:outline-none focus:ring-offset-2
        "
        >Twitterでシェアする</a
      >
    </p>
  </div>
</ng-template>

<ng-template #dropDownContentGitHub>
  <div class="flex-row space-y-4">
    <p>アプリのソースコードはGitHubで公開されています。</p>
    <p class="text-center">
      <a
        href="https://github.com/ringtail003/sunagitsune"
        target="_blank"
        rel="nofollow noopener noreferrer"
        class="
          text-gray-300
          underline
          hover:text-blue-400
          focus:ring-blue-400 focus:outline-none focus:ring-offset-2
        "
        >GitHubを開く</a
      >
    </p>
  </div>
</ng-template>
