<h1 class="sr-only">このアプリについて知る</h1>

<div
  class="
    container
    flex-row
    mx-auto
    w-[60vw]
    py-10
    space-y-8
    text-gray-600 text-md
  "
>
  <section>
    <h2 class="my-8 text-2xl font-bold text-gray-600">このアプリでできる事</h2>
    <p>
      サイズの変更や枠線の追加など<strong class="mx-1"
        >画像の加工を行うためのアプリ</strong
      >です。
    </p>

    <p>
      ファイルをアップロードすると変換後の画像が即ダウンロードできます。複雑な画像加工はできませんが、大量のファイルに簡単な加工を繰り返し施すのに向いています。
    </p>
  </section>

  <section>
    <h2 class="my-8 text-2xl font-bold text-gray-600">アプリの利用について</h2>
    <p>URLにアクセスするだけで誰でも簡単に利用する事ができます。</p>

    <ul class="py-4 pl-4 list-disc">
      <li>サインアップしてアカウント登録する必要はありません。</li>
      <li>ダウンロード回数の制限はありません。</li>
    </ul>

    <p>
      画像の加工には
      <a
        href="https://developer.mozilla.org/ja/docs/Web/API/Canvas_API"
        target="_blank"
        class="
          mx-1
          font-bold
          underline
          rounded-md
          hover:text-blue-600
          focus:ring-blue-600 focus:outline-none focus:ring-offset-2
        "
        >Canvas API</a
      >を利用しています。ファイルサイズの大きな画像を加工した際に画質が劣化する事がありますので、加工前のオリジナルのファイルはご自身で保管をお願いいたします。
    </p>
  </section>

  <section>
    <h2 class="my-8 text-2xl font-bold text-gray-600">お願い</h2>
    <p>
      このサイトへのアクセスは
      <a
        href="https://analytics.google.com/analytics/web/"
        target="_blank"
        class="
          mx-1
          font-bold
          underline
          rounded-md
          hover:text-blue-600
          focus:ring-blue-600 focus:outline-none focus:ring-offset-2
        "
        >GoogleAnalytics</a
      >
      を使って情報収集されます。目的は作者がコンバージョン設定など
      GoogleAnalytics
      の使い方を学ぶためです。どうかご協力をお願いいたします。分析したデータを公開するような事はありませんのでご安心ください。
    </p>
  </section>
</div>
