<a
  class="
    cursor-pointer
    -m-3
    p-3
    flex
    items-center
    rounded-md
    text-base
    font-medium
    text-gray-900
    focus:outline-none focus:ring-blue-500 focus:ring-2
  "
  [class.bg-gray-100]="isActive"
  (click)="handleClick()"
>
  <img src="assets/menu/{{ menu }}.svg" class="w-10 h-10" />

  <span
    class="ml-4 capitalize"
    [class.text-gray-600]="!hasError && hasSetting"
    [class.text-gray-400]="!hasError && !hasSetting"
    [class.text-red-400]="hasError"
    [textContent]="menu"
  ></span>
</a>
