<a
  class="
    flex
    items-center
    justify-between
    p-4
    text-sm
    font-medium
    text-gray-500
    rounded-md
    cursor-pointer
    hover:text-gray-700 hover:underline
    focus:outline-none focus:ring-blue-500 focus:ring-2
  "
  [class.bg-gray-100]="isActive"
  (click)="handleClick()"
>
  <p [textContent]="menu | menuLabel"></p>

  <app-icon-check-circle
    *ngIf="hasSetting && !hasError"
    class="text-gray-300"
    [size]="5"
  ></app-icon-check-circle>

  <app-icon-exclamation-circle
    *ngIf="hasError"
    class="text-red-400"
    [size]="5"
  ></app-icon-exclamation-circle>
</a>
