<ng-container *ngIf="effect">
  <app-form-header>
    <app-outline-button
      [text]="'Clear rotate config'"
      (buttonClick)="handleReset()"
    ></app-outline-button>
  </app-form-header>

  <app-form-group-section>
    <app-form-content>
      <app-input-radio
        class="block mr-4"
        *ngFor="let item of effect.typeList"
        [item]="item"
        [name]="effect.name"
        [current]="effect.type!"
        (changeValue)="handleChangeType($event)"
      >
      </app-input-radio>
    </app-form-content>
  </app-form-group-section>

  <app-form-footer> </app-form-footer>
</ng-container>
