<div
  [class.scale-0]="!isOpen"
  [class.scale-100]="isOpen"
  class="
    transform
    duration-500
    ease-in
    absolute
    px-6
    pt-4
    pb-6
    mt-2
    text-sm text-gray-300
    bg-gray-700
    border border-gray-300
    rounded-md
    shadow-sm
    w-72
    right-2
  "
>
  <div class="flex justify-end mb-2">
    <button
      type="button"
      class="
        rounded-md
        focus:outline-none focus:ring-2 focus:ring-blue-500
        hover:text-white
      "
    >
      <span class="sr-only">閉じる</span>
      <app-icon-x class="w-5" (click)="handleCloseButtonClick()"></app-icon-x>
    </button>
  </div>

  <ng-content></ng-content>
</div>
